body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.form {
  background-color: #1e266d;
}
.row-1 {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}
.row-1 select {
  border: 1px solid #ffb6c1;
  width: 200px;
  margin: 10px;
  text-align: center;
  color: #0e0e1a;
}
.row-1 input {
  border: 1px solid #ffb6c1;
  width: 190px;
  margin: 10px;
  color: black;
}

.row-1 button {
  width: 40px;
  height: auto;
  border-radius: 50px;
  border: 1px solid red;
  background-color: red;
  color: white;
  margin-right: 18%;
  cursor: pointer;
}
#span {
  position: absolute;
  top: 60%;
  left: 45%;
  color: crimson;
}
.form-list {
  display: flex;
  background-color: #fff;
  height: 49%;
  padding: 20px;
  width: auto;
  position: absolute;
  top: 50%;
}
.row-select {
  display: flex;
  justify-content:flex-start;
  padding: 35px;
}
.row-select input {
  margin: 7px;
  text-align: center;
}

