body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.form {
  background-color: #1e266d;
}
.row-1 {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}
.row-1 select {
  border: 1px solid #ffb6c1;
  width: 200px;
  margin: 10px;
  text-align: center;
  color: #0e0e1a;
}
.row-1 input {
  border: 1px solid #ffb6c1;
  width: 190px;
  margin: 10px;
  color: black;
}

.row-1 button {
  width: 40px;
  height: auto;
  border-radius: 50px;
  border: 1px solid red;
  background-color: red;
  color: white;
  margin-right: 18%;
  cursor: pointer;
}
#span {
  position: absolute;
  top: 60%;
  left: 45%;
  color: crimson;
}
.table {
  border-collapse: collapse;
  background-color: #ccc;
  height: 10%;
  width: auto;
  position: absolute;
  top: 65%;
}
.table td {
  border: 1px solid;
  width: 150px;
  height: 50px;
  text-align: center;
}
.table th {
  border: 1px solid;
  height: 50px;
}